<html>
	<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reveal.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/theme/moon.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/tivac3.css') }}">
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section>
          <h3>TIVA models</h3>
          <br>
          <h6>As easy as</h6>
          <p>
            <br>
            <i>A</i>e<sup>-&alpha;t</sup> + <i>B</i>e<sup>-&beta;t</sup> + <i>C</i>e<sup>-&theta;t</sup>
          </p>
        </section>
				<section>
          <section>
            <h3>Basics</h3>
            <br>
            <h6>for a bolus:</h6>
            <br>
            <p>Cp = Dose / Vd </p>
          </section>
          <section>
            <h6>infusion</h6>
            <br>
            <p>Cp = rate / Cl </p>
          </section>
        </section>
				<section>
					<h2>How it looks</h2>
					<p>plasma concetration after a bolus</p>
					<br>
					<div id="chart" style="fill:#93a1a1;font-size:20px;"></div>
					<br>
				</section>
        <section>
          <section>
            <h2>Propofol</h2>
            <br>
            <p>3 Compartments....</p>
            <br>
            <p align="left">
              <b>Central (V1):</b>
              <span class="fragment visible" data-fragment-index="1">Intravascular</span>
              <br>
              <br>
              <b>Fast (V2):</b>
              <span class="fragment visible" data-fragment-index="2">Well perfused tissue</span>
              <span class="fragment visible" data-fragment-index="3"> <i>e.g. muscle</i></span>
              <br>
              <br>
              <b>Slow (V3):</b>
              <span class="fragment visible" data-fragment-index="4">Poorly perfused</span>
              <span class="fragment visible" data-fragment-index="5"> <i>e.g. fat</i></span>
              <br>
              <br>
            </p>
          </section>
          <section>
            <h2>Rate constants</h2>
            <svg width="550" height="250">
              <rect x="0" y="20" rx="20" ry="20" width="150" height="150" style="fill:orange;stroke:black;stroke-width:3;opacity:0.5" />
              <rect x="200" y="20" rx="20" ry="20" width="150" height="150" style="fill:yellow;stroke:black;stroke-width:3;opacity:0.5" />
              <rect x="400" y="20" rx="20" ry="20" width="150" height="150" style="fill:orange;stroke:black;stroke-width:3;opacity:0.5" />
              <rect x="150" y="120" width="50" height="20" style="fill:blue;stroke:black;stroke-width:3;opacity:0.5" />
              <rect x="350" y="120" width="50" height="20" style="fill:red;stroke:black;stroke-width:3;opacity:0.5" />
              <rect x="265" y="170" width="20" height="50" style="fill:green;stroke:black;stroke-width:3;opacity:0.5" />
            </svg>
            <p align="left">
              Between: <br>
                <span class="fragment highlight-blue visible" data-fragment-index="1">- V1 and V2</span><br>
                <span class="fragment highlight-red visible" data-fragment-index="2">- V1 and V3</span><br>
                <span class="fragment highlight-green visible" data-fragment-index="3">- Clearance from V1</span>
            </p>
          </section>
        </section>
				<section>
					<h2>The fourth compartment</h2>
					<br>
					<p>Propofol doesn't work intravascularly</p>
					<img src="{{ url_for('static', filename='img/effect.png') }}" />
				</section>
				<section>
					<h2>The Models</h2>
					<br>
					<h6>Marsh & Schnider</h6>
					<p>Makeup:</p>
					<ul>
						<li>24 (Schnider)</li>
						<li>19 (Gepts)</li>
						<li>70% male</li>
					</ul>
				</section>
				<section>
					<h2>A second chart!</h2>
					<br>
					<p>
						Do your patients look like this?
					<div id="chart2" style="fill:#93a1a1;fill-opactity:0.2;font-size:20px;"></div>
					<br>
				</p>
				</section>
				<section>
					<section>
						<h2>Differences</h2>
						<br>
						<table style="font-size:20px;">
							<tr>
								<th>Model</th>
								<th>V1</th>
								<th>V2</th>
								<th>V3</th>
								<th>K10</th>
							</tr>
							<tr>
								<td>Marsh</td>
								<td>0.228/Kg</td>
								<td>0.463/Kg</td>
								<td>2.893/Kg</td>
								<td>0.119</td>
							</tr>
							<tr>
								<td>Schnider</td>
								<td class="fragment highlight-red visible" data-fragment-index="1">4.27</td>
								<td>18.9-0.391x(age-53)</td>
								<td>238</td>
								<td>0.443+0.0107×(weight−77)−0.0159×(<span class="fragment highlight-red" data-fragment-index="2">LBM</span>−59)+0.0062×(height−177)</td>
							</tr>
						</table>
					</section>
					<section>
						<h2>Some examples</h2>
						Age: <input type='number' value="40" name="age">
						Weight: <input type='number' value="70" name="weight">
						Height: <input type='number' value="170" name="height">
						<div id="chart3" style="fill:#93a1a1;fill-opactity:0.2;font-size:20px;"></div>
					</section>
				</section>
				<section>
						<h2>The James equation</h2>
						<h6>achilles heel of schnider?</h6>
						<p>Equation for lean body mass</p>
						<p>Paradoxical decrease with high weights
						<br>&#8756; increase in k10</p>
				</section>
				<section>
						<h2>Result?</h2>
						<img src="{{ url_for('static', filename='img/james.jpg') }}" />
				</section>
				<section>
					<h2>The Future?</h2>
				</section>
			</div>
		</div>
		<script src="{{ url_for('static', filename='js/reveal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/c3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
		<script>
			Reveal.initialize();
      var chart = c3.generate({
        bindto: '#chart',
        data: {
          // xs: {
          //   'Calc': 'time',
					// 	'CP': 'time',
          //   'Effect site': 'time2',
          // },
					x: 'time',
          columns: [
            ['time', 0, 2.11, 4.01, 8.06, 16.03, 30.05, 59.73, ],
						['Calc', 0, 3.95,	1.33,	0.684,	0.526,	0.352,	0.17],
            ['CP', 0, 3.62, 1.33, 0.676, 0.338, 0.204, 0.11, ],
					//	['time2', 0, 2,	4,	6,	8,	10,	20,	30,	40,	50,	60,],
          	//['Effect site', 0,	1.71,	2.37,	2.67,	1.62,	2.13,	4.11,	5.05,	5.18,	4.47,	4.29, ]

          ],
          type: 'area-spline',
        },
				area: {
					opacity: 50,
					color: '#ffffff',
				},
        axis: {
          x: {
            padding: {
              right: 10,
            },
            tick: {
            culling: {
                max: 4 // the number of tick texts will be adjusted to less than this value
            }

            // for normal axis, default on
            // for category axis, default off
            },
            label: {
              text: 'time (mins)',
              position:'outer-left',
            },
          },
          y: {
            tick: {
              culling: {
                max: 5 // the number of tick texts will be adjusted to less than this value
            }
            // for normal axis, default on
            // for category axis, default off
          },
            label: {
              text: 'Plasma Concentration',
              position:'outer-middle',
            },
          }
        }
      });
			var chart2 = c3.generate({
				bindto: '#chart2',
				data: {
					xs: {
						'schnider': 'schnider_w',
						'marsh': 'marsh_w',
						'BMI25': '25_x',
						'BMI30': '30_x'
					},
					columns:[
						["schnider", 157.5, 195.6, 170.2, 181.6, 182.9, 175.3, 170.2, 188, 182.2, 177.8, 182.9, 167.6, 188, 177.8, 167.6, 175.3, 177.8, 170.2, 180.3, 157.5, 180.3, 172.7, 160, 154.9 ],
						["schnider_w", 46.3, 122.7, 79.4, 79.4, 74.8, 62.6, 64.4, 74.8, 93.4, 90.7, 88.4, 64.4, 95.2, 88.4, 44.7, 79.8, 74.8, 70.3, 91.2, 63.5, 86.2, 88.4, 70.3, 44.4 ],
						["marsh", 178, 173, 151, 178, 171, 159, 166, 168, 174, 173, 169, 175, 162, 161, 176 ],
						["marsh_w", 74, 73, 54, 75, 63, 48, 55, 49, 76, 80, 74, 78, 63, 65, 84],
						["BMI25", 140, 160, 180, 200 ],
						["25_x", 49, 64, 81, 100],
						["BMI30", 140, 160, 180, 200 ],
						["30_x", 58.8, 76.8, 97.2, 120],
					],
					types: {
						'schnider': 'scatter',
						'marsh': 'scatter',
						'BMI25': 'spline',
					},
				},
				axis: {
					x: {
						padding: {
							right: 10,
						},
						tick: {
						culling: {
								max: 5 // the number of tick texts will be adjusted to less than this value
						}

						// for normal axis, default on
						// for category axis, default off
						},
						label: {
							text: 'Weight (Kg)',
							position:'outer-right',
						},
					},
				}
			});
			chart2.toggle(['BMI25', 'BMI30']);

			var chart2 = c3.generate({
				bindto: '#chart2',
			});
		</script>
	</body>
</html>
